@import "../../../Sass/mixin";
@import "../../../Sass/variables";

.mainContainer{
  background-image: url(./../../../assets/download.jpeg);
  background-size: cover;
  width:100%;
  height: 100%;
  background-repeat: no-repeat;
}
.Hprocurement_container {
  padding: 3rem 0rem;
//   background-image: url("../../../assets/servicesAssets/iphotobg4.svg");
  //   background-repeat: no-repeat;
  //   background-position: end;
  //   background-color: aqua;
  // background-color: red;
  &_content {
    // background-image: url("../../../assets/servicesAssets/singlebgWL.svg");
    // background-color: red;
    &_top {
      width: 75%;
      margin: auto;
    }
    &_middle {
      margin-top: 141px;
    }
    &_bottom {
      &_content {
        width: 75%;
        margin: auto;
        p {
          width: 58.2rem;
          margin-top: -5rem;
        }
      }
    }
  }
}
// ************* HArdware Procurement ************************

.hardware_container {
  margin-top: 65px;
  position: relative;
  &_content {
    width: 75%;
    margin: auto;
    display: flex;
    &_left {
      width: 61.2rem;
      & > *:not(:first-child) {
        margin-top: 25px;
      }
    }
    &_right {
      position: absolute;
      z-index: 9999;
      right: 0%;
      top: 20%;
      // background-color: palevioletred;
    }
  }
}
// ************* Solutions Container ************************

.solution_container {
  padding: 0.5rem 0rem;
  margin-top: 120px;
  &_content {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    & > *:not(:first-child) {
      margin-left: 120px;
    }
    &_left {
      margin-top: 8rem;
    }
    &_right {
      width: 61.2rem;
    }
  }
}
